* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 400px;
  overflow: hidden;
  transform-style: preserve-3d;
}

.nes-btn:focus {
  user-select: none;
}

.container-pos {
  width: 80%;
  height: 80%;
}

.three-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
}

.box {
  width: 300px;
  height: 200px;
  position: absolute;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.box-1 {
  background-color: red;
  transform: translate3d(0, 25px, 150px) scale(1);
}

.box-2 {
  background-color: green;
  transform: translate3d(400px, 0, -25px) rotateY(-75deg);
}

.box-3 {
  background-color: yellow;
  transform: translate3d(0, -150px, -200px) scale(1);
}

.box-4 {
  background-color: blue;
  transform: translate3d(-400px, 0, -25px) rotateY(75deg);
}

.nes-badge-pos {
  position: absolute;
  top: 3%;
  right: 3%;
}

.nes-badge {
  width: 12.5em;
}

.nes-btn-pos {
  position: absolute;
  bottom: 1%;
  right: 1%;
}

.nes-container-pos {
  position: absolute;
  bottom: 0;
}

.nes-container.is-dark {
  position: absolute;
}

.fas {
  font-size: 24px;
}

ul {
  width: 225px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nes-container.is-rounded {
  padding: 0;
}
.three-container .nes-container.is-rounded {
  padding: 1rem 1.5rem;
}

.nes-container.is-rounded.is-dark {
  border-image-repeat: unset;
}

.nes-btn:focus {
  box-shadow: none;
}

.nes-btn:disabled {
  background-color: #000;
}

.number {
  color: orange;
}

.door {
  background-color: white;
  opacity: 0;
  width: 100%;
  height: 100%;
  transform-origin: top;
  transform: rotateX(180deg);
  display: none;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
